body
{
    background-color: #27292e;
}

.upload-msg
{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-top: 1vw;
    margin-bottom: 50px;
}

input[type="file"] {
    display: none;
}

.upload-container
{
    margin: auto;
    width: 200px;
    height: 100px;
    /*background-color: tomato;*/
}

.browseButton
{
    border: 1px solid #ccc;
    display: inline-block;
    margin: auto;
    border: 0px;
    border-radius: 30px;
    padding-top: 10px;
    cursor: pointer;
    text-align: center;
    width: 200px;
    height: 40px;
    font-size: 22px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
    background-color: #6e778078;
}

.downloadButton
{
    margin-top: 30px;
    border: 1px solid #ccc;
    display: inline-block;
    border: 0px;
    border-radius: 30px;
    cursor: pointer;
    text-align: center;
    width: 200px;
    height: 45px;
    font-size: 22px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
    background-color: grey;
    transition-duration: 0.3s;
}
.downloadButton:hover
{
    background-color: #449aa0 ;
}