body
{
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
    background-image: url(../img/login-inc-background.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.main-container {
    height: auto;
    width:auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
}

.logo
{
    font-family: Helvetica;
    float: left;
    font-size: 30px;
    color: #449aa0;  
    padding-left: 20vh;
    margin-top: 6vh;
}

#two
{
    font-size: 20px;
}

.font-weight
{
    font-weight: 500;
}

.nav-account
{
    float: right;
    font-family: Helvetica;
    font-size: 25px;
    border: 2px solid #449aa0;
    border-radius: 5px;
    color: #449aa0;  
    padding: 10px;
    margin-right: 20vh;
}


.o2-box-1
{
    margin: auto;
    margin-top: 10vh;
    position: relative;
    width: 70vh;
    height: 40vh;
    background-color: #F5F3F9;
    border-radius: 8px;
}
