body
{
    background-color: #27292e;
}

.login-msg
{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-top: 4vh;
}

.color-tag
{
 color: #449aa0
}

#two
{
     font-size: 30px;
}

.subs-now
{
    display: flex;
    font-family: Helvetica;
    border-radius: 30px;
    position: relative;
    width: 200px;
    height: 50px;
    background-color: #6e778078;
    color: rgb(218, 213, 213);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-left: 42vw;
    cursor: pointer;
}