.main-container {
    height: 100vh;
    background-color: white;
    display: flex;

}

.brand-name
{
    position: relative;
    margin-bottom: 6vh;
    color: #32595c;
    font-family:"helvetica";
    font-size: 40px;
}
.login-box
{
    position: relative;
    width: 500px;
    height: 500px;
    background-color: white;
    color: #212429;
    font-family:"helvetica";
    text-align: center;
    font-size: 30px;
    margin:auto;
}

.create-account
{
    margin-bottom: 3vh;
}