body
{
    background-color: #27292e;
}

.main-container
{
    margin: auto;
    width: 1000px;
    height: 220px;
    background-color: ;
    border-radius: 10px;
    border-color: #7623DE;
    border: 8 bold;
    border-radius: 50px;
    border-style: dashed;
}

.upload-msg
{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-top: 2vw;
    margin-bottom: 50px;
}

input[type="file"] {
    display: none;
}

.upload-container
{
    margin: auto;
    width: 200px;
    height: 100px;
    /*background-color: tomato;*/
}

.browseButton
{
    border: 1px solid #ccc;
    display: inline-block;
    margin: auto;
    border: 0px;
    border-radius: 30px;
    padding-top: 10px;
    cursor: pointer;
    text-align: center;
    width: 200px;
    height: 40px;
    font-size: 22px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
    background-color: #6e778078;
}

.uploadButton
{
    position: absolute;
    margin-left: -120px;
    margin-top: 100px;
    border: 1px solid #ccc;
    display: inline-block;
    border: 0px;
    border-radius: 30px;
    cursor: pointer;
    text-align: center;
    width: 200px;
    height: 45px;
    font-size: 22px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
    background-color: #7623DE;
    transition-duration: 0.3s;

}
.uploadButton:hover
{
    background-color: #449aa0;
}

.uploadButton2
{
    margin-left: 120px;
    margin-top: 100px;
    border: 1px solid #ccc;
    display: inline-block;
    border: 0px;
    border-radius: 30px;
    cursor: pointer;
    text-align: center;
    width: 200px;
    height: 45px;
    font-size: 22px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
    background-color: #7623DE;
    transition-duration: 0.3s;

}
.uploadButton2:hover
{
    background-color: #449aa0;
}